version: "3.9"

services:
  minio:
    image: minio/minio:RELEASE.2024-01-16T16-07-38Z
    container_name: minio
    command: server /data --console-address ":9001"
    ports:
      - "9002:9000"
      - "9003:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    volumes:
      - minio_data:/data

  spark:
    image:  docker.io/bitnamilegacy/spark:3.5.1
    container_name: spark
    depends_on:
      - minio
    environment:
      - SPARK_MODE=client
    volumes:
      - ./spark:/opt/spark-apps
    command: sleep infinity

  clickhouse:
    image: clickhouse/clickhouse-server:24.1
    container_name: clickhouse-iceberg
    ports:
      - "8124:8124"
      - "9001:9001"
    volumes:
      - clickhouse_data:/var/lib/clickhouse

volumes:
  minio_data:
  clickhouse_data:

